<!--
  Ash's RaspberryPI IO Remote.
  email: ashthompson06@gmail.command
  repo: https://github.com/BashEdThomps/IoT-RaspberryPI.git

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div ng-include="'../header.html'"></div>
<ul class="list-group">
  <li class="list-group-item clearfix">
    <h5>Uptime<small class="pull-right">{{stats.uptime}}</small></h5>
  </li>
  <li class="list-group-item clearfix">
    <h5>Hostname<small class="pull-right">{{stats.hostname}}</small></h5>
  </li>
  <li class="list-group-item clearfix">
    <h5>Address<small class="pull-right">{{stats.address}}</small></h5>
  </li>
  <li class="list-group-item clearfix">
    <h5>
      Update
      <button ng-click="updateButton()" class="pull-right btn btn-success"><span class="glyphicon glyphicon-save"></span></button>
    </h5>
  </li>
  <li ng-show="'<p>'+stats.updateResult+'</p>'" class="list-group-item clearfix">
    <h5>
      Result
      <br>
      <small ng-bind="stats.updateResult"></small>
    </h5>
  </li>
  <li class="list-group-item clearfix">
    <h5>
      Restart Application
      <button ng-click="restartButton()" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-refresh"></span></button>
    </h5>
  </li>
  <li class="list-group-item clearfix">
    <h5>
      Reboot RaspberryPI
      <button ng-click="rebootButton()" class="pull-right btn btn-danger"><span class="glyphicon glyphicon-repeat"></span></button>
    </h5>
    </li>
  </ul>
</div>


<!-- div class="panel">
<div class="panel-heading">
</div>
<div class="panel-body">
</div>
</div -->
