<div class="panel">
  <div class="panel-heading">
    Edit GPIO Script
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="script-name">Name</label>
        <input type="text" class="form-control" placeholder="Name" id="script-name" ng-model="script.name">
      </div>
      <!-- Do -->
      <div class="form-group">
        <label for="script-name">Do</label>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Pin</th>
              <th class="col-md-6">State</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="state in script.do">
              <td>{{state.pin}}</td>
              <td>{{state.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="add-command">Add</label>
        <select id="add-do-pin" class="form-control" ng-model="addDoPin">
          <option value="">Selct Pin</option>
          <option ng-repeat="pin in gpioPinList" value="{{pin.name}}">{{pin.name}}</option>
        </select>
        <div class="input-group">
          <select id="add-do-state" class="form-control" ng-model="addDoState">
            <option value="">Selct State</option>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
          <span class="input-group-btn" >
            <button ng-click="addDoButton()" type="button" class="pull-right btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="remove-command">Remove</label>
        <div class="input-group">
          <select id="remove-command" class="form-control" ng-model="doRemoveStateName">
            <option value="">Remove Do</option>
            <option ng-repeat="state in script.do" value="{{state.pin}}">{{state.pin}}</option>
          </select>
          <span  class="input-group-btn">
            <button ng-click="removeDoButton()" type="button" class="btn btn-danger ">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
        </div>
      </div>
      <!-- While-->
      <div class="form-group">
        <label for="script-name">While</label>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Pin</th>
              <th class="col-md-6">State</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="state in script.while">
              <td>{{state.pin}}</td>
              <td>{{state.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Then -->
      <div class="form-group">
        <label for="script-name">Then</label>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Pin</th>
              <th class="col-md-6">State</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="state in script.then">
              <td>{{state.pin}}</td>
              <td>{{state.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <button class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
    <button class="pull-right btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
  </div>
</div>
