<!--
  Ash's RaspberryPI IO Remote.
  email: ashthompson06@gmail.command
  repo: https://github.com/BashEdThomps/IoT-RaspberryPI.git

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<uib-alert class="toast-alert" dismiss-on-timeout="1500" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<div ng-include="'header.html'"></div>
<div class="panel">
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" placeholder="Name" ng-model="pin.name">
      </div>
      <div class="form-group">
        <label>Number</label>
        <input class="form-control" type="text" placeholder="Pin Number" ng-model="pin.num">
      </div>
      <div class="form-group">
        <label>State</label>
        <select id="state-command" class="form-control" ng-model="pin.state">
          <option value="">Selct State</option>
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="pin.hidden" value="">Pin Hidden</label>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Footer -->
<ul class="list-group">
  <li class="list-group-item clearfix">
    <h5>
      Delete
      <button ng-click="deleteButton()" class="pull-right btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
    </h5>
  </li>
  <li class="list-group-item clearfix">
    <h5>
      Save
      <button ng-click="saveButton()" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
    </h5>
  </li>
</ul>
