<!--
  Ash's RaspberryPI IO Remote.
  email: ashthompson06@gmail.command
  repo: https://github.com/BashEdThomps/IoT-RaspberryPI.git

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="Index">
<head>
  <!-- Libraries -->
  <script src="angular.min.js"></script>
  <script src="angular-ui-router.min.js"></script>
  <script src="ui-bootstrap-tpls.min.js"></script>
  <script src="angular-animate.min.js"></script>
  <script src="socket.io.js"></script>
  <!-- / -->
  <script src="main.js"></script>
  <script src="index.js"></script>
  <script src="socket.io.controller.js"></script>
  <script src="landing.js"></script>
  <script src="settings.js"></script>
  <script src="system.js"></script>
  <script src="util.js"></script>
  <script src="app_api.js"></script>
  <script src="gpio_script_editor.js"></script>
  <script src="gpio_pin_editor.js"></script>
  <script src="serial_command_editor.js"></script>
  <script src="configuration.js"></script>
  <!-- Stylesheets -->
  <link href="css/cyborg.bootstrap.min.css" rel="stylesheet">
  <link href="css/toast.alert.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/favicon.png">
  <title>{{deviceName}}</title>
</head>
<body>
  <div class="container-fluid">
    <!-- Page Content -->
    <div autoscroll="true" ui-view></div>
  </div>
</body>
</html>
