<ul class="list-group">
  <li ng-repeat="pin in pinList" class="list-group-item clearfix">
    <h5>
      <span ng-show="pin.io == 'out'" class="glyphicon glyphicon-log-out"></span>
      <span ng-show="pin.io == 'in'" class="glyphicon glyphicon-log-in"></span>
      {{pin.name}}
      <!-- Output -->
      <span ng-show="pin.io == 'out'" class="pull-right">
        <button ng-show="pin.state == 0" ng-click="gpioSet(pin.num,1)" class="pull-right btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-off"></span>
        </button>
        <button ng-show="pin.state == 1" ng-click="gpioSet(pin.num,0)" class="pull-right btn btn-success btn-lg">
          <span class="glyphicon glyphicon-off"></span>
        </button>
      </span>
      <!-- Inputs -->
      <span ng-show="pin.io == 'in'" class="pull-right">
        <button ng-show="pin.state == 0" disabled class="pull-right btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
        <button ng-show="pin.state == 1" disabled class="pull-right btn btn-success btn-lg">
          <span class="glyphicon glyphicon-ok-sign"></span>
        </button>
      </span>
    </h5>
  </li>
</ul>
<div class="panel">
  <div class="panel-heading">
    Legend
  </div>
  <div class="panel-body">
    <span class="glyphicon glyphicon-log-in"></span> Input
    <br>
    <span class="glyphicon glyphicon-log-out"></span> Output
  </div>
</div>
