<!--
  Ash's RaspberryPI IO Remote.
  email: ashthompson06@gmail.command
  repo: https://github.com/BashEdThomps/IoT-RaspberryPI.git

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<uib-alert class="toast-alert" dismiss-on-timeout="3000" ng-repeat="alert in alerts" type="{{alert.type}}" close="util.closeAlert(alerts,$index)">{{alert.msg}}</uib-alert>
<!-- GPIO -->
<div ng-show="gpioPinList.length > 0" class="panel">
  <div class="panel-heading">
    GPIO
  </div>
  <ul class="list-group">
    <li ng-repeat="pin in gpioPinList" ng-show="!pin.hidden" class="list-group-item clearfix">
      <h5>
        <span ng-show="pin.io == 'out'" class="glyphicon glyphicon-log-out"></span>
        <span ng-show="pin.io == 'in'" class="glyphicon glyphicon-log-in"></span>
        &nbsp;{{pin.name}}
        <!-- Output -->
        <span ng-show="pin.io == 'out'" class="pull-right">
          <button ng-show="pin.state == 0" ng-click="gpioSet(pin.num,1)" class="pull-right btn btn-danger">
            <span class="glyphicon glyphicon-off"></span>
          </button>
          <button ng-show="pin.state == 1" ng-click="gpioSet(pin.num,0)" class="pull-right btn btn-success">
            <span class="glyphicon glyphicon-off"></span>
          </button>
        </span>
        <!-- Inputs -->
        <span ng-show="pin.io == 'in'" class="pull-right">
          <button ng-show="pin.state == 0" disabled class="pull-right btn btn-danger ">
            <span class="glyphicon glyphicon-remove-sign"></span>
          </button>
          <button ng-show="pin.state == 1" disabled class="pull-right btn btn-success ">
            <span class="glyphicon glyphicon-ok-sign"></span>
          </button>
        </span>
      </h5>
    </li>
  </ul>
</div>
<!-- GPIO Scripts-->
<div ng-show="gpioScriptList.length > 0" class="panel">
  <div class="panel-heading">
    GPIO Scripts
  </div>
  <ul class="list-group">
    <li ng-repeat="script in gpioScriptList" class="list-group-item clearfix">
      <h5>
        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
        &nbsp;{{script.name}}
        <span class="pull-right">
          <button ng-click="executeGpioScriptButton(script.name)" class="pull-right btn" ng-disabled="script.inProgress" ng-class="script.inProgress ? 'btn-success' : 'btn-warning'">
            <span class="glyphicon glyphicon glyphicon-play"></span>
          </button>
        </span>
      </h5>
    </li>
  </ul>
</div>
<!-- Serial -->
<div ng-show="serialEnabled && serialCommandList.length > 0" class="panel">
  <div class="panel-heading">
    Serial Commands
  </div>
  <ul class="list-group">
    <li ng-repeat="cmd in serialCommandList" class="list-group-item clearfix">
      <h5>
        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
        &nbsp;{{cmd.name}}
        <span class="pull-right">
          <button ng-click="executeSerialCommandButton(cmd.name)" class="pull-right btn btn-warning ">
            <span class="glyphicon glyphicon glyphicon-play"></span>
          </button>
        </span>
      </h5>
    </li>
  </ul>
</div>
<!-- Legend/Settings -->
<div class="panel">
  <div class="panel-heading">
    Legend
  </div>
  <ul class="list-group">
    <li class="list-group-item clearfix">
      <h5>
        Input
        <span class="pull-right glyphicon glyphicon-log-in"></span>
      </h5>
    </li>
    <li class="list-group-item clearfix">
      <h5>
        Output
        <span class="pull-right glyphicon glyphicon-log-out"></span>
      </h5>
    </li>
    <li class="list-group-item clearfix">
      <h5>
        Script
        <span class="pull-right glyphicon glyphicon-list-alt"></span>
      </h5>
    </li>
  </ul>
</div>
<div class="panel">
  <div class="panel-heading">
    Administration
  </div>
  <ul class="list-group">
    <li class="list-group-item clearfix">
      <h5>
        Settings
        <a href="#settings" class="pull-right btn btn-primary">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </h5>
    </li>
    <li class="list-group-item clearfix">
      <h5>
        System
        <a href="#system" class="pull-right btn btn-primary">
          <span class="glyphicon glyphicon-wrench"></span>
        </a>
      </h5>
    </li>
  </ul>
</div>
