<!--
  Ash's RaspberryPI IO Remote.
  email: ashthompson06@gmail.command
  repo: https://github.com/BashEdThomps/IoT-RaspberryPI.git

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<uib-alert class="toast-alert" dismiss-on-timeout="3000" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<div ng-include="'header.html'"></div>
<!-- Device -->
<div class="panel">
  <div class="panel-heading">
    Device
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" type="text" placeholder="Name" ng-model="deviceName">
      </div>
      <div class="form-group">
        <label for="port">Port</label>
        <input class="form-control" type="text" placeholder="port" ng-model="devicePort">
      </div>
    </form>
  </div>
</div>
<!-- GPIO Pins -->
<div class="panel">
  <div class="panel-heading">
    GPIO Pins
  </div>
  <ul class="list-group">
    <li class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-2">
          <h5>Pin</h5>
        </div>
        <div class="col-sm-4">
          <h5>Name</h5>
        </div>
        <div class="col-sm-2">
          <h5>I/O</h5>
        </div>
        <div class="col-sm-2">
          <h5>Hidden</h5>
        </div>
        <div class="col-sm-2">
            <h5 class="pull-right">Edit</h5>
        </div>
      </div>
    </li>
    <li ng-repeat="pin in gpioPinList" class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-2">
          <h5>{{pin.num}}</h5>
        </div>
        <div class="col-sm-4">
          <h5><small>{{pin.name}}</small></h5>
        </div>
        <div class="col-sm-2">
          <h5><small>{{pin.io}}</small></h5>
        </div>
        <div class="col-sm-2">
          <h5><small>{{pin.hidden}}</small></h5>
        </div>
        <div class="col-sm-2">
            <button class="pull-right btn btn-primary" ng-click="goToGpioPinEditor(pin.name)">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>
      </div>
    </li>
    <li class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-6">
          <h5>Add Pin</h5>
        </div>
        <div class="col-sm-6">
          <button id="new_script" ng-click="goToGpioPinEditor('new')" class="pull-right btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- GPIO Scripts -->
<div class="panel">
  <div class="panel-heading">
    GPIO Scripts
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-6">
          <h5>Name</h5>
        </div>
        <div class="col-sm-6">
          <h5 class="pull-right">Edit</h5>
        </div>
      </div>
    </li>
    <li ng-repeat="script in gpioScriptList" class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-6">
          <h5>{{script.name}}</h5>
        </div>
        <div class="col-sm-6">
          <button class="pull-right btn btn-primary" ng-click="goToGpioScriptEditor(script.name)">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-6">
          <h5>Add Script</h5>
        </div>
        <div class="col-sm-6">
          <button id="new_script" ng-click="goToGpioScriptEditor('new')" class="pull-right btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- Serial Settings -->
<div class="panel">
  <div class="panel-heading">
    Serial Port
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <div class="checkbox">
          <label><input type="checkbox"  ng-change="serialEnabledCheckboxChanged()" ng-model="serialEnabled" value="">Enable Serial</label>
        </div>
      </div>
      <div ng-show="serialEnabled" class="form-group">
        <label for="select-port">Path</label>
        <select id="select-port" class="form-control" ng-model="serialPath">
          <option value="">Select Path</option>
          <option ng-repeat="path in serialPathList" value="{{path}}">{{path}}</option>
        </select>
      </div>
      <div ng-show="serialEnabled" class="form-group">
        <label for="select-baud">Baud Rate</label>
        <select id="select-baud" class="form-control" ng-model="serialBaudrate">
          <option value="">Select Baud Rate</option>
          <option ng-repeat="baud in serialBaudrateList" value="{{baud}}">{{baud}}</option>
        </select>
      </div>
    </form>
  </div>
  <ul ng-show="serialEnabled" class="list-group">
    <li class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-4">
          <h5>Name</h5>
        </div>
        <div class="col-sm-4">
          <h5>Command</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="pull-right">Edit</h5>
        </div>
      </div>
    </li>
    <li ng-repeat="cmd in serialCommandList" class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-4">
          <h5>{{cmd.name}}</h5>
        </div>
        <div class="col-sm-4">
          <h5><small>{{cmd.cmd}}</small></h5>
        </div>
        <div class="col-sm-4">
          <button class="pull-right btn btn-primary" ng-click="goToSerialCommandEditor(cmd.name)">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item clearfix">
      <div class="row">
        <div class="col-sm-6">
          <h5>Add Command</h5>
        </div>
        <div class="col-sm-6">
          <button id="new_script" ng-click="goToSerialCommandEditor('new')" class="pull-right btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- Save -->
<ul class="list-group">
  <li class="list-group-item clearfix">
    <h5>
      Save Settings
      <button ng-click="saveSettings()" class="pull-right btn btn-primary">
        <span class="glyphicon glyphicon-floppy-disk"></span>
       </button>
    </h5>
  </li>
</ul>
