<uib-alert class="toast-alert" dismiss-on-timeout="3000" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<div class="panel">
  <div class="panel-heading">
    Uptime
  </div>
  <ul class="list-group">
    <li class="list-group-item clearfix">
      <h5>{{stats.uptime}}</h5>
    </li>
  </ul>
</div>
<div class="panel">
  <div class="panel-heading">
    Network
  </div>
  <ul class="list-group">
    <li class="list-group-item clearfix">
      <h5>
        Hostname
        <br>
        <small>{{stats.hostname}}</small>
      </h5>
    </li>
    <li class="list-group-item clearfix">
      <h5>
        Address
        <br>
        <small>{{stats.address}}</small>
      </h5>
    </li>
  </ul>
</div>
<div class="panel">
  <div class="panel-heading">
    Power
  </div>
  <div class="panel-body">
    <button ng-click="rebootButton()" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Reboot</button>
  </div>
</div>

<!-- div class="panel">
<div class="panel-heading">
</div>
<div class="panel-body">
</div>
</div -->
