<uib-alert class="toast-alert" dismiss-on-timeout="3000" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<div class="row">
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        Uptime
      </div>
      <div class="panel-body">
        {{stats.uptime}}
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        Network
      </div>
      <div class="panel-body">
        Hostname: {{stats.hostname}}
        <br>
        Address: {{stats.address}}
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        Power
      </div>
      <div class="panel-body">
        <button ng-click="rebootButton()" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-repeat"></span>&nbsp;Reboot</button>
      </div>
    </div>
  </div>
</div>

<!-- div class="panel">
<div class="panel-heading">
</div>
<div class="panel-body">
</div>
</div -->
