<!--
  Ash's RaspberryPI IO Remote.
  email: ashthompson06@gmail.command
  repo: https://github.com/BashEdThomps/IoT-RaspberryPI.git

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div ng-include="'../../header.html'"></div>
<div class="panel">
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="script-name">Name</label>
        <input type="text" class="form-control" placeholder="Name" id="script-name" ng-model="script.name">
      </div>
    </form>
  </div>
</div>
<!-- Do -->
<div class="panel">
  <div class="panel-heading">
    Do
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Pin</th>
              <th class="col-md-6">State</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="state in script.do">
              <td>{{state.pin}}</td>
              <td>{{state.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="add-do">Add</label>
        <select id="add-do-pin" class="form-control" ng-model="addDoPin">
          <option value="">Selct Pin</option>
          <option ng-repeat="pin in gpioPinList" value="{{pin.name}}">{{pin.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <select id="add-do-state" class="form-control" ng-model="addDoState">
            <option value="">Selct State</option>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
          <span class="input-group-btn" >
            <button ng-click="addDoButton()" type="button" class="pull-right btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="remove-do">Remove</label>
        <div class="input-group">
          <select id="remove-do" class="form-control" ng-model="removeDoName">
            <option value="">Remove State</option>
            <option ng-repeat="state in script.do" value="{{state.pin}}">{{state.pin}}</option>
          </select>
          <span  class="input-group-btn">
            <button ng-click="removeDoButton()" type="button" class="btn btn-danger ">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- While-->
<div class="panel">
  <div class="panel-heading">
    While
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Pin</th>
              <th class="col-md-6">State</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="state in script.while">
              <td>{{state.pin}}</td>
              <td>{{state.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="add-while">Add</label>
        <select id="add-while-pin" class="form-control" ng-model="addWhilePin">
          <option value="">Selct Pin</option>
          <option ng-repeat="pin in gpioPinList" value="{{pin.name}}">{{pin.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <select id="add-while-state" class="form-control" ng-model="addWhileState">
            <option value="">Selct State</option>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
          <span class="input-group-btn" >
            <button ng-click="addWhileButton()" type="button" class="pull-right btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="remove-while">Remove</label>
        <div class="input-group">
          <select id="remove-while" class="form-control" ng-model="removeWhileName">
            <option value="">Remove State</option>
            <option ng-repeat="state in script.while" value="{{state.pin}}">{{state.pin}}</option>
          </select>
          <span  class="input-group-btn">
            <button ng-click="removeWhileButton()" type="button" class="btn btn-danger ">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Then -->
<div class="panel">
  <div class="panel-heading">
    Then
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-6">Pin</th>
              <th class="col-md-6">State</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="state in script.then">
              <td>{{state.pin}}</td>
              <td>{{state.state}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <label for="add-then">Add</label>
        <select id="add-then-pin" class="form-control" ng-model="addThenPin">
          <option value="">Selct Pin</option>
          <option ng-repeat="pin in gpioPinList" value="{{pin.name}}">{{pin.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <select id="add-then-state" class="form-control" ng-model="addThenState">
            <option value="">Selct State</option>
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
          <span class="input-group-btn" >
            <button ng-click="addThenButton()" type="button" class="pull-right btn btn-success">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="remove-then">Remove</label>
        <div class="input-group">
          <select id="remove-then" class="form-control" ng-model="removeThenName">
            <option value="">Remove State</option>
            <option ng-repeat="state in script.then" value="{{state.pin}}">{{state.pin}}</option>
          </select>
          <span  class="input-group-btn">
            <button ng-click="removeThenButton()" type="button" class="btn btn-danger ">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Footer -->
<div class="panel">
  <div class="panel-heading">
    Save or Delete
  </div>
  <ul class="list-group">
    <li class="list-group-item clearfix">
      <h5>
        Delete
        <button ng-click="deleteButton()" class="pull-right btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
      </h5>
    </li>
    <li class="list-group-item clearfix">
      <h5>
        Save
        <button ng-click="saveButton()" class="pull-right btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
      </h5>
    </li>
  </ul>
</div>
